.header {
    width: 100%;
    height: 50px;
    background-color: teal;

    &__container {
        display: flex;
        justify-content: flex-end;
        margin-right: 150px;
    }
    &__elem {
        height: 50px;
        width: 200px;
        background-color: teal;
        color: white;
        outline: none;
        border: none;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
    }
}
