* {
  box-sizing: border-box;
}

@keyframes setOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main {
  margin: 0 5vw 0 5vw;
  display: flex;
  width: 90vw;
  min-height: calc(100vh - 130px);
}

.animation {
  animation: setOpacity 1s linear;
}

.products-container {
  width: 70%;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.aside {
  width: 30%;
}

.x :hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: red;
}

.h1 {
  margin-top: 50px;
  text-align: center;
  color: royalblue;
}

.no-results {
  color: red;
  font-size: 3em;
  margin-top: 2em;
}
